<!-- <p>main-page works!</p> -->
<div class="container">
  <div class="div-1">
    <h1>The fast, affordable way to ride.</h1>
    <h2>REQUEST A RIDE ONLINE ➡️</h2>
  </div>
  <div class="div-2">
    <img
      src="../../../../../assets/videoblocks-business-woman-using-mobile-phone-while-going-at-city-street-smiling-businesswoman-working-on-smartphone-on-the-go-at-street-confident-professional-walking-to-work-with-cellphone-outdoor_b0awz0aow_thumb.png"
      alt="lady looks at the phone"
    />
  </div>
</div>
