<div class="main-container">
  <div class="inner-div">
    <h1 class="h1-img">
      <img
        src="../assets/Screenshot_2022-10-24_172204-removebg-preview.png"
        alt="logo"
      />
    </h1>

    <h1>Products</h1>
    <h1>Partners</h1>
    <h1>Company</h1>
    <h1>Support</h1>
    <h1>Cities</h1>
    <h1 class="highlight">Request a ride!</h1>
  </div>
  <div class="inner-div">
    <button
      [class.inactive]="!isEn"
      (click)="useEn()"
      class="btnENG"
      scaleAnim
    ></button>
    <button
      [class.inactive]="!isKa"
      (click)="useKa()"
      class="btnKA"
      scaleAnim
    ></button>
  </div>
</div>
<router-outlet></router-outlet>
